/* From Uiverse.io by 0xnihilism */
.brutalistContainer {
  position: relative;
  width: 270px;
  font-family: monospace;
  /* padding-bottom: 2px; */
  /* margin: 10px; */
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.brutalistInput {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: 4px solid #000;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  outline: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 5px 5px 0 #000, 10px 10px 0 #10477e;
}

/* .brutalistInput:focus {
    animation: focus-pulse 4s cubic-bezier(0.25, 0.8, 0.25, 1) infinite,
      glitch 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
  } */

.brutalistLabel {
  position: absolute;
  left: -3px;
  top: -35px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
  transform: rotate(-1deg);
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.brutalistInput:focus + .brutalistLabel {
  transform: rotate(0deg) scale(1.05);
  background-color: #10477e;
}

.smoothType {
  position: relative;
  overflow: hidden;
}

/* Button styling */
.loginButton {
  position: relative;
  overflow: hidden;
}

.buttonEffect {
  position: absolute;
  width: 36px;
  height: 32px;
  top: -8px;
  left: -2px;
  transform: rotate(12deg) scaleX(0);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: -1;
}

.loginButton:hover .buttonEffect {
  transform: scaleX(1);
}

.whiteEffect {
  background-color: #fff;
}

.indigoLightEffect {
  background-color: #6366f1;
}

.indigoDarkEffect {
  background-color: #4f46e5;
}

.exploreText {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loginButton:hover .exploreText {
  opacity: 1;
}

/* Keyframes for animation */
@keyframes focus-pulse {
  0%,
  100% {
    border-color: #000;
  }
  50% {
    border-color: #10477e;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
